:host {
  .color-box {
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba($color: #000000, $alpha: .1);
    transition: all .5s;

    &:hover {
      box-shadow: 0 4px 6px rgba($color: #000000, $alpha: .2);
    }

    div {
      font-size: 11px;
    }

    .color-title {
      font-weight: 700;
      text-transform: capitalize;
      font-size: 14px;
    }
  }
}
